body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #ffffff;
}

/* styling for main top */
main {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

/* styling for container */
.container {
    margin: 0 auto;
    border: solid 3px;
    border-color: black;
    border-radius: 10px;
}

/* Column 1 styling */
.col-2 {
    font-size: 30px;
    font-weight: bold;
}

/* for past, present, future in js */
.past {
    background-color: lightgrey;
    color: white;
}

.present {
    background-color: orangered;
    color: white;
}

.future {
    background-color: lightgreen;
    color: white;
}

/* styling for save button  */
.fa-floppy-disk {
    font-size: 40px;
}

#btn:hover {
    background-color: lightgreen;
}

#btn:active {
    background-color: green;
}
